{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="centreTitle"> 
    <h1>Your recipes</h1>
</div>

<div class="centreColumn">

    <form class="searchbar" action="/recipes/" method="get">
        <input name="q" type="text" placeholder="Search..." />
        <select name="tagDDM">
            <option value="">None</option>
            {% for getdata in category %}
                <option value="{{ getdata.categoryTitle }}">{{ getdata.categoryTitle }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go!" />
    </form>

    <div>
        {% if pageObj %}
            {% for getdata in pageObj %}
            <article class="entry">
                <h3><a class="recipeLink" href="/recipes/{{ getdata.recipeId }}">{{ getdata.title }}</a></h3><p>{{ getdata.body | truncatechars:80 }}</p>
            </article>
            {% endfor %}
        {% else %}
            <p class="noResult">No results. Maybe you should write this one next!</p>
        {% endif %}
    </div>

    <div class="pagination">
        
        <span>
            Page {{ pageObj.number }} of {{ pageObj.paginator.num_pages }}
        </span>
        <p>
        {% if pageObj.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{ pageObj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in pageObj.paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if pageObj.has_next %}
            <a href="?page={{ pageObj.next_page_number }}">></a>
            <a href="?page={{ pageObj.paginator.num_pages }}">>></a>
        {% endif %}
        </p>
    </div>

</div>
{% endblock %}