{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="centreTitle"> 
    <h1>Your recipes</h1>
</div>

<div class="centreColumn">

    <form class="searchbar" action="/recipes/" method="get">
        <input name="q" type="text" placeholder="Search...">
        <select name="tag">
            <option value=""></option>
            {% for getdata in category %}
                <option value="{{ getdata.categoryTitle }}">
            {% endfor %}
        </select>
    </form>

    <div>
        {% for getdata in recipesDisp %}
        <article class="entry">
            <h3><a class="recipeLink" href="/recipes/{{ getdata.recipeId }}">{{ getdata.title }}</a></h3><p>{{ getdata.body | truncatechars:80 }}</p>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}