<!DOCTYPE html>

{% load static %}

<html lang="en">
    
<head>
    <title>It's recipe time!</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="navbar">
        <a class="{% if url_name == 'homepageView' %}active{% endif %}" href="{% url 'homepageView' %}" >Home</a>
        <a class="{% if url_name == 'recipesDisp' %}active{% endif %}" href="{% url 'listRecipesView' %}" >Search recipes</a>
        <a class="{% if url_name == 'addRecipeView' %}active{% endif %}" href="{% url 'addRecipeView' %}">Add a new recipe</a>
    </div>

    <div class="mainContentDiv">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>